:root { /*Paleta de colores*/
    --color1: #02689d;
    --color2: #127dbe;
    --color3: #282828;
    --color4: #ffffff;
}

* {
    font-family: Comic Sans MS;
    color: var(--color4);
}

body{
    background-color: var(--color3);
}

a {
    text-decoration: none;
}

nav img:hover{
    box-shadow: 0px 0px 5px 0.5px var(--color2);
}

h1{
    text-align: center;
    font-size: 4vw;
    margin: 1%;
    
}

main{
    width: 50%;
    background-color: var(--color1);
    padding: 1%;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
}

label {
    font-size: 1.5vw;
    margin-left: 2%;
}

input[type=text], input[type=password], textarea{
    width: 75%;
    display: block;
    margin: 1%;
    margin-left: 6%;
    font-size: 1.5vw;
    color: var(--color3);
    border-radius: 10px;
    border-color: var(--color1);
}

input[type=password]{
    width: 30%;
}

textarea{
    width: 75%;
}

img{
    width: 1vw;
    height: 1vw;
}

input[type="text"]:focus, input[type="password"]:focus, textarea {
    outline: 2px solid var(--color4);
    border-color: var(--color4);
}

input[type=submit]{
    display: block;
    font-size: 1.5vw;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    border-color: var(--color3);
    background-color: var(--color3);
}

input[type=submit]:hover{
    background-color: var(--color2);
    color: var(--color4);
}


@media (max-width: 1000px) {
    
    img{
        width: 14vw;
        height: 14vw;
    }
    
    h1{
        font-size: 10vw;
        margin: 2%;
        
    }
    
    main{
        width: 80%;
        margin-top: 45%;
        padding: 2%;
    }
    
    label {
        font-size: 6vw;
    }
    
    img{
        width: 4vw;
        height: 4vw;
    }

    input[type=text], input[type=password], textarea{
        width: 85%;
        font-size: 5vw;
    }

    input[type=submit]{
        font-size: 6vw;
    }
}